/* Slidorion Stylesheet */
#slidorion {
	width: 100%;			/* Set to slidorion width. Is equal to #slider + #accordion width */
	height: 100%;			/* Set to slidorion height. Is equal to #slider and #accordion height */
	position: relative;
}

#slider {
	width: 65%;			/* Set to slider width */
	height: 100%;			/* Set to slider height */
	position: relative;
	float: left;
	overflow: hidden;		/* Hides the animations */
}

#slider > div {
	position:absolute;
	width:100%;
	height:100%;
}

#accordion {
	width: 35%;			/* Set to accordion width */
	height: 100%;			/* Set to image height */
	font-family: Verdana;
	background: #eee;
	position: relative;
	z-index:999;
	overflow: hidden;
	float: left;
}

#accordion > .link-header {
	padding: 8px 14px;
	font-size: 12px;
	font-weight: 400;
	color: #f4f4f4;
	background: #383636;
	border-top: 1px solid #ccc;
}
#accordion > .link-header h4{
	color: #f4f4f4;
	font-family: opensans-regular;
}
#accordion > .link-header:first-child {
	border-top:none;
}

#accordion > .link-header:hover {
	cursor: pointer;
}

#accordion > .link-header.active {
	border-bottom: none;
	background: #EB540D !important;
	filter: none;
	color: #fff;
}

#accordion > .link-content {
	height: 223px;			/* This height needs to be changed as it depends on the accordion height and number of tabs */
	font-weight: normal;
	font-size: 13px;
	line-height:20px;
	margin: 0;
	padding: 16px;
	border: none;
	background: #f4f4f4;
	overflow:auto;
}

#slidorion .nav {
    position: absolute;
    top: 200px;
    width: 16px;
    height: 27px;
    z-index: 9999;
    background: url('http://www.ipos.me/library/ui/img/arrows.png') 0 0 no-repeat;
    cursor: pointer;
}

#slidorion .nav-left {
	left: 30px;
}

#slidorion .nav-right {
	right: 310px;
	background-position: -16px 0;
}